<hero class="grid bg-gray-700 text-white text-center bg-fit z-10 relative bg-[url('https://images.stockcake.com/public/4/9/5/4959fbda-5739-4876-9086-bad3e14eafd1_large/unity-at-sunrise-stockcake.jpg')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein">思いやりの輪を、必要なところへ</h1>
        <p class="text-lg font-bold mb-5">「与えることと受け取ることの架け橋になる」</p>
        {% comment %} <a class="button" href="">Get Started</a> {% endcomment %}
    </div>
</hero>